html[dir="ltr"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-right: 0.125rem
 }
 
 html[dir="rtl"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-left: 0.125rem
 }
 
 .myAppDemoWT .myCustomText {
    display: inline-block;
    font-weight: bold;
 }

.sapMListTblHeaderCell {
    background-color: #f5f6f7 !important;
 }
 
 #__bar0 {
   position: fixed;
   bottom: 0;
 }